.form-example-1 .discrepancy-summary {
    border: 3px solid #2b8cc4;
    box-sizing: border-box;
    padding: 1em 1em 0.25em 1em;
    margin: 1em -1em 1.5em -1em;
    background-color: #d5e8f3;
}
.form-example-1 .discrepancy-summary *:first-child {
    margin-top: 0em;
}
.form-example-1 .discrepancy-summary ul, #form-example-1 .discrepancy-summary ol {
    padding-left: 1em;
}
.form-example-1 .discrepancy-summary input[type="text"], #form-example-1 .discrepancy-summary textarea {
    background-color: #fff;
}
.form-example-1 .discrepancy-summary .inner {
    background-color: white;
    border: 1px solid #bfc1c3;
    padding: 2em;
    margin-bottom: 0.75em;
}
.form-example-1 .discrepancy-summary .inner input[type="text"], #form-example-1 .discrepancy-summary .inner textarea {
    background-color: #f8f8f8;
}
.form-example-1 .discrepancy-summary h1 {
    margin-bottom: 0;
}
.form-example-1 .discrepancy-summary a {
    color: #2b8cc4;
    text-decoration: none;
}
.form-example-1 .discrepancy-summary a:hover {
    text-decoration: underline;
}
.form-example-1 .discrepancy-summary ul, #form-example-1 .discrepancy-summary ol {
    color: #2b8cc4;
}
.form-example-1 .discrepancy-summary ul {
    padding-left: 2.2em;
}
.form-example-1 .discrepancy-summary ul li {
    list-style-type: none;
    list-style-image: none;
}
.form-example-1 .discrepancy-summary li {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
}
@media (max-width: 640px) {
    #form-example-1 .discrepancy-summary li {
    font-size: 14px;
    line-height: 1.14286;
}
}
.form-example-1 .discrepancy {
    background-color: #d5e8f3;
    border-left: 3px solid #2b8cc4;
    margin: 0 -1em 0.5em -1em;
    padding: 0.75em 1em 1em 1em;
}
.form-example-1 .discrepancy .discrepancy-message {
    color: #2b8cc4;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    display: block;
    padding-bottom: 0.5em;
}
@media (max-width: 640px) {
    #form-example-1 .discrepancy .discrepancy-message {
    font-size: 14px;
    line-height: 1.14286;
}