language: python
python:
  - "2.7"
# command to install dependencies
install: 
  - pip install -r requirements.dev.txt --use-mirrors
# command to run tests
script:
  - ./run_tests.sh
notifications:
  email: false
