# cached and module files for puppet librarian
.tmp

# .lock files for gem and puppet-librarian
*.lock

.rspec # Put "--profile" in a file called .rspec to get per-test timing results
.rvmrc # If you are using rvm
.tmp/ 
/.gems/
/bin/
/build/
/puppet.tgz
/vendor/
.bundle/
