{% extends "base.html" %}
{% from "macros/_form_field.html" import form_field %}
{% from "macros/_form_nav.html" import form_nav %}

{% block title %}Employment Details{% endblock %}
{% block header %}
    <h1>Claim Redundancy Payment</h1>
    <h2 class="subtitle">Please enter the details for the employer</h2>
{% endblock %}
{% block nav %}
    {{ form_nav(nav_links) }}
{% endblock %}
{% block content %}
    <h1>Employer details</h1>
        <form method="post" action="/claim-redundancy-payment/employment-details/" class="form-example-1">
            <div>
                {{ form.hidden_tag() }}
                {{ form_field(form.job_title) }}
                {{ form_field(form.category_of_worker) }}
                {{ form_field(form.start_date) }}
                {{ form_field(form.end_date) }}
            </div>
            <input type="submit" value="Submit" />
        </form>
{% endblock %}
