{% extends "base.html" %}
{% from "partials/_form_field.html" import form_field %}

{% block title %}Claimant Contact Details{% endblock %}
{% block header %} 
    <h1>Claim Redundency Payment</h1>
    <h2 class="subtitle">Please enter your personal details</h2>
{% endblock %}
{% block content %}
    <h1>Your personal details</h1>
                <form method="post" action="/claimant-contact-details">
                    <div>
                        <h2>Name</h2>
                        <div>
                        {{ form.hidden_tag() }}
                        {{ form_field(form.forenames) }}
                        {{ form_field(form.surname) }}
                        </div>
                    </div>
                    <input type="submit" value="Submit" />
                </form>
{% endblock %}
