{% from "partials/_form_field.html" import form_field %}
<html>
    <head>
        <title>Claimant Contact Details</title>
    </head>
    <body>
        <article>
            <section>
                <h1>Claimant Contact Details</h1>
                <form method="post" action="/claimant-contact-details">
                    <div>
                        <h2>Name</h2>
                        <div>
                        {{ form.hidden_tag() }}
                        {{ form_field(form.forenames) }}
                        {{ form_field(form.surname) }}
                        </div>
                    </div>
                    <input type="submit" value="Submit" />
                </form>
            </section>
        </article>
    </body>
</html>
