{% from "macros/_form_nav.html" import form_nav %}
{% from "macros/_form_field.html" import form_field %}
{% extends "base.html" %}
{% block title %}Claimant Wage Details{% endblock %}
{% block header %}
<h1 xmlns="http://www.w3.org/1999/html">Claim Redundancy Payment</h1>
    <h2 class="subtitle">Please enter your wage details</h2>
{% endblock %}
{% block nav %}
    {{ form_nav(nav_links) }}
{% endblock %}
{% block content %}
    <h1>Your wage details</h1>
        <form method="post" action="/claim-redundancy-payment/wage-details/" class="form-example-1">
            <div>
                <h2>Wages</h2>
                <div>
                    <fieldset>
                    {{ form.hidden_tag() }}
                        <fieldset>
                            <legend>How much do you get paid</legend>
                            {{ form_field(form.gross_rate_of_pay) }}
                            {{ form_field(form.frequency_of_payment) }}
                        </fieldset>
                        <fieldset>
                            <legend>How much do you work</legend>
                            {{ form_field(form.number_of_hours_worked) }}
                            {{ form_field(form.every) }}
                        </fieldset>
                    {{ form_field(form.bonus_or_commission) }}
                    {{ form_field(form.overtime) }}
                    {{ form_field(form.normal_days_of_work) }}
                    </fieldset>
                 </div>
            </div>
            <input type="submit" value="Submit" />
        </form>
{% endblock %}
