{% extends "base.html" %}
{% from "macros/_form_field.html" import form_field %}
{% from "macros/_form_nav.html" import form_nav %}

{% block title %}Wages owed{% endblock %}
{% block header %}
    <h1>Claim Redundancy Payment</h1>
    <h2 class="subtitle">Please enter details of any unpaid wages</h2>
{% endblock %}
{% block nav %}
    {{ form_nav(nav_links) }}
{% endblock %}
{% block content %}
    <h1>Wages owed</h1>
        <form method="post" action="/claim-redundancy-payment/wages-owed-details/" class="form-example-1">
            <div>
                {{ form.hidden_tag() }}
                {{ form_field(form.owed) }}
                {{ form_field(form.wage_owed_from, hint="Use the dd/mm/yyyy format, for example 01/01/1975") }}
                {{ form_field(form.wage_owed_to, hint="Use the dd/mm/yyyy format, for example 01/01/1975") }}
                {{ form_field(form.number_of_days_owed) }}
                {{ form_field(form.gross_amount_owed) }}
                <h4 class="subtitle">Failed Payment - If your employer attempted to pay your wages and that payment failed (e.g cheque bounced) please provide details below:</h4>
                {{ form_field(form.failed_payment_from, hint="Use the dd/mm/yyyy format, for example 01/01/1975") }}
                {{ form_field(form.failed_payment_to, hint="Use the dd/mm/yyyy format, for example 01/01/1975") }}
                {{ form_field(form.net_amount) }}
             </div>
            <input type="submit" value="Submit" />
        </form>
{% endblock %}